.container {
    max-width: 1000px;
    margin: 20px auto;
    color: gray
}

.title {
    color: black;
    margin-top: 0;
}

.sectionTitle {
    color: black;
    margin-top: 40px;
    margin-bottom: 0px;
}